
<div class="confirmation-container">
  <div class="confirmation-items">
    <img class="w-25" src="../../../assets/success.jpg" alt="">
    <h1 class="confirmation-header confirmation-item">Success!</h1>
    <p class="confirmation-item">Thank you, <strong>{{this.final[0].name}}</strong></p>
    <p class="confirmation-item">Your <strong>{{this.final[0].TotalPrice|currency}}</strong> order confirmed!</p>
    <p class="confirmation-item">Please allow 1-3 business day(s) for shipping</p>
    <button class="mb-5 btn btn-primary" (click)="clearstorage()">Back To Product List</button>
  </div>
</div>
