<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="mt-5">
          <img [src]="oneProd[0].url" alt="">
      </div>
    </div>
    <div class="col-md-6">
      <div class="content">
      <div class="mt-3">
          <strong>{{oneProd[0].name}}</strong>
      </div>
       <div class="mt-3">
         <strong>{{oneProd[0].price|currency}}</strong>
        </div>
        <div class="mt-3">
          <strong>{{oneProd[0].description}}</strong>
       </div>
        <div class="mt-3">
         <select class="select-input" [(ngModel)]="qte" (ngModelChange)="submitQte($event)" >
          <option *ngFor="let num of counter(100);let i = index">{{i+1}}</option>
         </select>
         <p class="alert alert-primary" [hidden]="this.theAlert =='' " >{{this.theAlert}}</p>
       </div>
       <button class="btn btn-primary mt-3" (click)="cartAdd()">Add To Cart</button>
       <h6 class="mt-3" routerLink="/product-list">
        <i class="fa-solid fa-arrow-left"></i>
        Back To Procuct List</h6>
      </div>
    </div>
  </div>

</div>
